body {
    padding: 150px 0;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass';
}

.container {
    text-align: left;
    color: white;
    width: 355px;
    margin: auto;
    padding: 60px 30px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
}

.container p {
    line-height: 1.5;
}

.button-class {
    text-align: center;
}

.numbers {
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.numbers button {
    border-radius: 100%;
    padding: 20px;
    margin: 10px 10px 20px 4px;
    background-color: hsl(216, 12%, 54%);
    border: none;
    border: 1px solid black;
    color: white;
}

.numbers button:hover{
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.submit {
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    font-size: 15px;
    color: white;
}

.hidden {
    display: none;
}

.second-container {
    width: 500px;
    background-color: white;
}

.thankyou-container {
    text-align: center;
    color: white;
    width: 355px;
    margin: auto;
    padding: 30px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
}

.thankyou-container p {
    line-height: 1.5;
    font-size: 16px;
}

.show {
    display: block;
}

.stars {
    color: hsl(25, 97%, 53%);
}

@media (min-width: 800px) {

    body {
        padding:  20% 0;
    }
    .container {
        width: 600px;
    }
}
